<app-nav></app-nav> 

<div class="center-table">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th></th>
        <th>Durum</th>
        <th>Kullanıcı ID</th>
        <th>İşlem Tipi</th>
        <th>Ip</th>
        <th>Açıklama</th>
        <th>Tarih/Saat</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let log of visibleLoglar">
        <td><input type="checkbox" (click)="onSelectionChange(log)"></td>
        <td>{{ log.durum }}</td>
        <td>{{ log.kullaniciId }}</td>
        <td>{{ log.islemTipi }}</td>
        <td>{{ log.ip }}</td>
        <td>{{ log.aciklama }}</td>
        <td>{{ log.tarihSaat }}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="pagination-container">
  <div class="pagination">
    <button class="btn btn-primary" (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1">Önceki</button>
    <span>{{ currentPage }}</span>
    <button class="btn btn-primary" (click)="changePage(currentPage + 1)" [disabled]="currentPage * pageSize >= loglar.length">Sonraki</button>
  </div>
</div>

<div class="center-buttons">
  <button class="btn btn-primary"(click)="exportSelectedToExcel()">Excel</button>
</div>